
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .general-button{
        @apply m-4 bg-gray-200 tracking-widest text-black text-lg px-4 py-2 rounded-2xl hover:bg-gray-300 outline outline-2 outline-white outline-offset-4 cursor-pointer
    }

    .small-button{
        @apply general-button
        px-1 py-0 m-2 text-sm outline-offset-2
    }
    
    .form-button{
        @apply m-4 bg-white tracking-widest text-black text-lg px-4 py-2 rounded-2xl hover:bg-gray-200 outline outline-2 outline-white outline-offset-4 cursor-pointer
    }

    .bg-large{
        @apply bg-[#1B1B1B]
    }

    .bg-medium{
        @apply bg-[#2d2d2d]
    }

    .bg-small{
        @apply bg-[#c3b088]
    }

}