/* Styling für das Buchungsfeld */
.booking-panel {
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  background-color: #000;
  max-width: 400px;
  margin-left: auto; 
  margin-right: auto; 
}

/* Styling für das Label im Buchungsfeld */
.booking-panel label {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

/* Styling für den DatePicker-Container */
.datepicker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  width: 100%;
  max-width: 400px;  
  background-color: #000;
  padding: 10px;  
  border-radius: 5px;
  box-sizing: border-box;  
}

/* Stil für das Kalender-Icon */
.calendar-icon {
  margin-right: 8px;  
  font-size: 20px;  
  color: white;
}

/* Stil für den DatePicker */
.datepicker {
  width: 100%;
  padding: 10px;  
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;  
  color: white;
  text-align: center;
  background-color: #000;
  box-sizing: border-box; 
}

/* Styling für die Route Summary im SVG */
.route-summary {
  fill: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50px;  
  right: 50px;  
  max-width: 250px; 
  font-size: 12px;
  text-align: left;
}












